doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title
    style(type='text/css')

  body
    table(border='0' cellspacing='0' width='100%')
      tr
        td(width='450')
          p Hello,
          p(style='height: 2px;')
          p(style='line-height: 160%;') We received a request to sign in to Mutambo using this email address. Click the following link to sign with your #{email} account –
          p(style='height: 2px;')
          p(style='background-color: #fafafa; font-weight: bold; padding: 10px 10px 10px 10px; margin: 0px 0px 0px 0px;')
            a(href=link) Sign In to Mutambo →

          p(style='height: 2px;')
          p(style='line-height: 160%;') If you did not request this link you can safely ignore this email. This link will expire in a few minutes.
          p(style='height: 2px;')
          p Enjoy your games!
          p – Mutambo Team
          p(style='height: 2px;')
          p(style='line-height: 160%;')
            i If you have any questions or feedback, please reply to this email.
        td